<!DOCTYPE html>
<html lang="en" ng-app="unidescApp">
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
        <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="./css/estilo.css">
        <title>Cadastro BodyForm</title>
        <link rel="icon" href="imagens/logo-editada.png">
    </head>
    <body ng-controller="produtoController as vm" ng-init="vm.init()">

         <!-- Cabeçalho--->
    <div>
      <header>
        <nav class="navbar navbar-expand-md fixed-top navbar-dark navbar-transparente">
          <div class="container">
            <!-- Logo -->
            <a href="principal.html" class="navbar-brand">
              <img src="imagens/logo-editada.png" >
            </a>
            <!-- Menu Hamburger -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                <i  class="fas fa-bars text-white"></i>
            </button>
            <!-- Navegação -->
           <div class="collapse navbar-collapse" id="nav-principal">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a href="vip.html" class="nav-link">Vip</a>
                  </li>
                    <li class="nav-item">
                    <a href="login-adm.html" class="nav-link">Gerencia</a>
                  </li>
                    <li class="nav-item">
                    <a href="contatos.html" class="nav-link">Contato</a>
                  </li>
  
                   <li class="nav-item divisor"></li>
  
                    <li class="nav-item">
                    <a href="index.html" class="nav-link">Cadastrar-se</a>
                  </li>
                    <li class="nav-item">
                    <a href="" class="nav-link">Entrar</a>
                  </li>
                </ul>
           </div>
          </div>
        </nav>
      </header> <!-- Fim do cabeçalho -->
    </div>


    
    <div class="row justify-content-center fundo-opaco-centro">
        <p class="text-center" style="font-size: 40px; color: #ffc107; margin-bottom: 60px;"><strong>LISTA DE CLIENTES CADASTRADOS</strong></p>
          <table class="table table-dark">
            <thead>
                  <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Endereco</th>
                      <th scope="col">Email</th>
                      <th scope="col">Cep</th>

                  </tr>
                </thead>
              <tbody>
                  <tr ng-repeat="item in vm.produtos track by $index">
                      <td>{{item.nome}}</td>
                      <td>{{item.endereco}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.cep}}</td>
                      
                         <td>
                          <i aria-hidden="true" class="fas fa-trash-alt cursor-pointer" ng-click="vm.deletarProduto($index)"></i>
                      </td>
                      <td>
      
                          <i aria-hidden="true" class="fas fa-edit cursor-pointer" ng-click="vm.carregarProduto($index)"></i>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

  </div>


         
         

        <script src="./node_modules/angular/angular.min.js"></script>
        <script src="./app/app.js"></script>
        <script src="./app/controller.js"></script>
    </body>
</html>